<div class="navigation-container clearfix">
    <div class="row">
        <div class="columns">
            <nav class="header-navigation show-for-medium">
                <ul class="menu align-center header-nav">
                    {{navigation}}
                </ul>
            </nav>
            <div class="top-bar-container" data-sticky-container>
                <div class="show-off-canvas show-for-small-only sticky" data-sticky data-options="anchor: main-container; marginTop: 0; stickyOn: small;">
                    <a data-toggle="offCanvas">Menu <i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>