<ul class="vertical large-horizontal menu top-menu" role="menu">
    {{#foreach navigation}}
        <li class="menu-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="menuitem">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
    <li class="menu-item" role="menuitem">
        <div class="search-hot"><i class="fas fa-search search-icon" id="search-icon"></i><span class="search-menu-text">Search</span></search>
    </li>
</ul>
