<ul class="menu" role="menu">
    {{#foreach navigation}}
        <li class="menu-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="menuitem">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
</ul>