<section class="search" id="search">
    <div class="grid-container">
        <div class="search-wrapper">
            <div class="search-input-ct">
                <input type="search" id="ghost-search-field">
            </div>
            <div class="search-results">
                <ul class="results-list"></ul>
                <div id="ghost-search-results"></div>
            </div>
        </div>
    </div>
</section>
