<section class="search" id="search">
    <div class="close-search" data-close-search>
        <i class="far fa-times-circle"></i>
        <div class="close-overlay"></div>
    </div>

    <div class="search-container">
        <div class="search-wrapper">
            <div class="search-input-ct">
                <input type="search" class="search-input" id="ghost-search-field" placeholder="Introduce your search...">
            </div>
            <div class="search-results">
                <ul class="results-list" id="ghost-search-results"></ul>
            </div>
        </div>
    </div>
</section>
