{{!-- Featured posts --}}
{{#get "posts" filter="featured:true" limit="8" as |featured|}}
    {{#if posts }}
        <div class="widget">
            <h4 class="widget-title">Featured Posts</h4>
            <div class="widget-content">
                {{> "featured_posts" sidebarTitle="Featured Posts" sidebarPosts=featured}}
            </div>
        </div>
    {{/if}}
{{/get}}

{{!-- Tags --}}
{{#get "tags" limit="all" order="name asc" }}
    {{#if tags }}
        <div class="widget">
            <h4 class="widget-title">Tags</h4>
            <div class="widget-content">
                <ul class="menu" id="tag-list">
                    {{#foreach tags}}
                        <li>
                            <a class="tag" href="{{url}}">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>
    {{/if}}
{{/get}}

{{!-- Email subscribe form --}}
{{#if @labs.subscribers}}
    <div class="widget">
        <h4 class="widget-title">Subscribe</h4>
        <div class="widget-content widget-subscribe">
            <p>Get the latest posts delivered right to your inbox.</p>
            {{subscribe_form placeholder="Your email address" form_class="subscribe-form"}}
            <p>or subscribe
                <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">
                    <strong>via RSS</strong>
                </a> with Feedly!</p>
        </div>
    </div>
{{/if}}