<form data-members-form="subscribe">
    <div class="input-group">
        <input class="subscribe-email input-group-field" type="email" data-members-email placeholder="youremail@example.com" autocomplete="false"/>
        <div class="input-group-button">
            <button class="button subscribe-btn" type="submit">Subscribe</button>
        </div>
    </div>
    <div class="message-success">
        <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
    </div>
    <div class="message-error">
        Please enter a valid email address!
    </div>
</form>
