// Fancybox
// --------

@function max($numbers...) {
  @return m#{a}x(#{$numbers})
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers})
}
@import '~@fancyapps/fancybox/dist/jquery.fancybox';
