// Variables
// ---------
$footer-background: #1a2940;
$footer-font-color: #91a2bd;

.site-footer {
  background: $footer-background;
  padding: 3rem 0;
  color: $footer-font-color;

  a {
    color: $footer-font-color;

    &:focus,
    &:hover {
      color: $white;
    }
  }
}

// Widgets
.widget {
  margin-bottom: 2rem;

  .widget-title {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// Copyright
// ---------

.footer-bottom {
  padding-top: 3rem;
  border-top: 1px solid lighten($footer-background, 10%);
}

.copyright {
  text-align: center;
}

// Recent Post
// -----------

.recent-post-img {
  width: 80px;
  height: 80px;
  background: $footer-font-color;
  border-color: $footer-font-color;
  transition: all 0.6s ease;

  &:focus,
  &:hover {
    border-color: $white;
  }
}
.recent-post-ct {
  border-bottom: 1px solid lighten($footer-background, 10%);
  &:last-child {
    border-bottom: none;
  }
}
.recent-post-title {
  font-weight: 500;
}
.recent-post-date {
  font-size: rem-calc(13);
  .fa-clock {
    margin-right: rem-calc(5);
  }
}

.site-footer .media-object-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
}


// Social networks
// ---------------

.social-networks {
  li {
    box-flex: 1;
    flex: 1 1 0;
  }
}

// Tags
// ----

.site-footer .tags {
  li {
    margin: 0 7px 10px 0;
    a {
      font-size: rem-calc(13);
      color: $footer-font-color;
      border: 1px solid lighten($footer-background, 20%);

      &:hover,
      &:focus {
        color: $footer-background;
        background: $footer-font-color;
      }
    }
  }
}
