// Variables
// ---------
$header-background: #1a2940;
$header-font-color: #91a2bd;

.site-header {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
}

.site-header-content {
  position: relative;
  overflow: hidden;
  color: $header-font-color;
}

.toggle-responsive-btn {
  display: none;
}

.cover-image,
.header-overlay,
.site-header-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.site-header-bg {
  min-height: 400px;
  transition: opacity 0.3s ease;
}

.header-overlay {
  background: rgba($header-background, 0.90);
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
}

.header-title {
  position: relative;
  width: 100%;
  min-height: 100px;
  user-select: none;
  pointer-events: none;

  .site-logo {
    min-height: 50px;
    max-height: 100px;
  }
}
.header-title-inner {
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: rem-calc(90) 0 rem-calc(140) 0;
}
.author-template .header-title-inner {
  flex-direction: column; // for social media author page
}
.site-title {
  margin: 0;
  color: $white;
  font-size: 3.5rem;
  font-weight: bold;
}
.social-author {
  text-align: center;

  .horizontal-list {
    display: inline-flex;

    > li {
      margin-right: rem-calc(15);

      &:last-child {
        margin-right: 0;
      }


      a {
        color: $header-font-color;

        &:focus,
        &:hover {
          color: $white;
        }
      }
    }
  }
}
