// Fancybox
// --------

$lg-path-fonts: '~lightgallery.js/src/fonts';
$lg-path-images: '~lightgallery.js/src/img';

@import '~lightgallery.js/src/sass/lightgallery';

.lightbox {
  display: inline-block;
  max-width: 100%;

  img {
    flex-shrink: 0;
    cursor: pointer;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
}