// Fancybox
// --------

$lg-path-fonts: '~lightgallery.js/src/fonts';
$lg-path-images: '~lightgallery.js/src/img';

@import 'lightgallery';

.lightbox {
  display: inline-block;
  max-width: 100%;

  img {
    cursor: pointer;
  }
}