// Variables
// ---------
$header-background: #1a2940;
$header-font-color: #91a2bd;

.top-bar {
  background: rgba($header-background, 0.95);
  color: $header-font-color;

  a {
    color: $footer-font-color;

    &:focus,
    &:hover {
      color: $white;
    }
  }
}
.top-bar-left,
.top-bar-right {
  padding: rem-calc(15) 0;
}
.top-menu {
  justify-content: flex-end;
  height: 100%;

  .menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    a {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
